body {
  background: rgb(110, 136, 161);
}
.main-container {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  border-radius: 15px;
  max-width: 55%;
  padding: 20px;
  margin: 40px auto;
  font-family: "Roboto", sans-serif;
  color: #013656;
}

.location-form {
  width: 100%;
  padding-right: 5px;
  margin-top: 20px;
  margin-left: 20px;
}

.search-city-form {
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

.search-button {
  width: 150px;
  background: #013656;
  color: white;
  border: 1px solid #013656;
}
.current-location-button {
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
  margin-left: 20px;
  font-weight: normal;
  color: #013656;
}
.current-day {
  margin-left: 70px;
  font-size: small;
}
.current-temperature {
  font-size: 60px;
  font-weight: bold;
  margin-left: 70px;
}
.weather-list {
  list-style: none;
  text-align: right;
  margin-right: 20px;
}
.units {
  font-size: 15px;
  font-weight: normal;
  position: relative;
  top: -34px;
}

.open-source {
  font-size: 12px;
  margin-top: 20px;
}
